header
    h1 Личная страница (блог) Дмитриц Куц
    nav
      +navs(['Главная','Расписание','Новости', 'Фото'],['./index.html','./rozklad.html','./news.html','./photo.html'],["fa-home","fa-book","fa-newspaper","fa-photo-video"])