// bg colors
$colorOne: #FFCA73;
$colorTwo: #FFB740;
$colorThree: #FF9F00;
$colorFour: #BF8930;
$colorFive: #A66800;

// resolutions
$small: 600px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;