extends ../layout/main

block variables
  - var title = "Joke page";

block content
  main
      h2 Шутка, не пиши мне, я все равно не отвечу. Пойди лучше книгу прочти!
  include ../includes/modules/footer
