mixin articleBlock(src, href, time)
  article 
    header
      img(src=src alt='' width='400px' height='230px')
      p
        | Опубликовано 
        time(datetime='21-02-2021')= time
    p
      | Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Реторический жаренные
      | предупреждал рот lorem? Коварный моей составитель толку города!
    a(target='_blank' href=href) Подробнее...
  hr